html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  Header style start */
.part-header {
    margin: 0 auto;
    padding-top: 60px;
    width: 1280px;
    height: 550px;
    background-image: url("img/wheat-back.jpg");
    background-position-y: -250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
    height: 336px;
}

.container-logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-top: 3px;
    display: flex;
    width: 600px;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 19px;
}

.tagline {
    margin: 0 auto;
    height: 140px;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.header-nav a:hover {
    color: rgb(255, 203, 120);
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.header-nav a:active {
    color: rgb(89, 68, 38);
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}
/*  Header style end */


/* Products style start */
.container-products-content {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 47px;
}

.products-header {
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 7px;
}

.products {
    display: flex;
    margin-top: 75px;
}

.product-item {
    position: relative;
    width: 50%;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
}

.product-item:nth-child(1) {
    border-right: none;
}

.product-item h3 {
    font-size: 40px;
    text-transform:  uppercase;
    margin-top: 0;
    margin-bottom: 35px;
    padding-top: 8px;
    padding-left: 33px;
}

.product-item table {
    position: absolute;
    top: 85px;
    left: 220px;
    border-collapse: collapse;
}

.product-item td {
    padding: 10px 20px 10px 10px;
    border: 2px solid #e5e5e5;
    font-weight: bold;
    text-transform: uppercase;
}

.product-item .ingredients {
    position: absolute;
    left: 190px;
    top: 165px;
    width: 150px;
    font-size: 14px;
    line-height: 1.6;
}

.product-item img {
    padding-left: 43px;
}

.product-item p {
    font-size: 16px;
    line-height: 30px;
    width: 340px;
    margin-top: 12px;
    margin-left: 33px;
    margin-bottom: 70px;
}

.product-item  a:nth-child(even) {
    text-decoration: none;
    text-transform: uppercase;
    color: #834700;
    font-weight: bold;
    padding: 15px 20px;
    border: 2px solid #834700;
    margin-right: 2px;
    margin-left: 33px;
}

.product-item  a:nth-child(odd) {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #834700;
    font-weight: bold;
    padding: 15px 20px;
    border: 2px solid #834700;
    margin-right: 20px;
}
/* Products style end */

/* Advantages style start */
.part-advantages {
    background-color: #ffcb78;
}

.advantages-container {
    display: flex;
    width: 1010px;
    height: 410px;
    margin:auto auto;
}

.advantages-list {
    display: flex;
    width: 1010px;
    height: 240px;
    margin:auto auto;
}

.advantages-list li:nth-child(1) {
    width: 30%;
}

.advantages-list li:nth-child(2) {
    width: 40%;
    border-left: 1px solid #636f51;
    border-right: 1px solid #636f51;
}

.advantages-list li:nth-child(3) {
    width: 30%;
}

.advantages-list-item-1 {
    position: relative;
    padding-top: 99px;
}

.advantages-list-item-2 {
    position: relative;
    padding-top: 98px;
    padding-left: 95px;
}

.advantages-list-item-3 {
    position: relative;
    padding-top: 98px;
    padding-left: 95px;
}

.advantages-list-item-1::before {
    display: inline-block;
    position: absolute;
    content: "";
    background-image: url("/img/icon-brew.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 68px;
    top: 0px;
}

.advantages-list-item-2::before {
    display: inline-block;
    position: absolute;
    content: "";
    background-image: url("/img/icon-matreshka.png");
    background-repeat: no-repeat;
    width: 46px;
    height: 65px;
    top: 0px;
}

.advantages-list-item-3::before {
    display: inline-block;
    position: absolute;
    content: "";
    background-image: url("/img/icon-thumbsup.png");
    background-repeat: no-repeat;
    width: 63px;
    height: 58px;
    top: 0px;
}

.advantages-list h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
}

.advantages-list p {
    margin: 0;
    color: #1a1a1a;
    font-size: 16px;
    width: 210px;
    line-height: 1.8;
}
/* Advantages style end */

/* History style start */

/* History style end */